@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px 16px 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  article {
    font-size: 90%;
    line-height: 1.4;
    color: $middle-gray;

    *:first-of-type {
      margin-top: 1rem;
    }

    a {
      color: inherit;
    }
  }
}

.thumbnail.visible {
  opacity: 1;
}
