/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 * @custoimized by Jbee
 */

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
@import './variables.scss';

:root {
  --grvsc-line-highlighted-background-color: #2d2c5d; /* default: transparent */
  --grvsc-line-highlighted-border-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* default: transparent */
  --grvsc-line-highlighted-border-width: 2px; /* default: 4px */
}

blockquote {
  margin: 2rem auto;
  color: $blockquote-text-color;
}

pre.grvsc-container {
  font-family: 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono',
    monospace;
  font-size: 14px;
}

pre.grvsc-container::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em 0.6em;
  border-radius: 0.2em;
  white-space: normal;
  background: $inline-dimmed-color;
  color: $inline-text-color;
}
